body{
  margin: 10px;

}
.top{
  background-color:#00CCCC;
  padding: 20px;
  text-align: center;
  font-family: Staatliches;
  font-size: 70px;
  letter-spacing: 10px;
  color: #002147;

}


.row{
  line-height: 0.2;
}

.img{
  padding: 20px 20px;
  margin: 20px;
  border: 2px solid black;
  white-space: unset;
  float:left;
  display: inline-block;


}
.align{
  margin-left: 20px;
}

.middle{
  background-color: #E0FFFF;
  

}
/*
.table{
  width: 400px;
    margin-left: auto;
  margin-right: auto;
border: 2px solid;
padding: 20px;
text-align: center;
}*/

.relimg{
  margin: 20px;
}

.bottom{
  text-align: center;
    background-color:#00CCCC;


}

.button{
  border-radius: 10px;

}
a{
  text-decoration: none;
}